//::::COLOR SCHEME::::
//Primary
$white: #fff;
//Secondary
$black: #000;
$sable: #060606;
$charcoal: #2e1503;
//Tercery
$tangerine: #ffaf6d;
$orange: #ffa500;

//::::FONT::::
//Font Family
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;
//Font weight
$font-regular: 400;
$font-bold: 700;
//Font size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
